/* Custom CheclBox */
.custom-checkbox {
	position: relative;
	position: relative;
	cursor: pointer;
	font-size: 16px;
}

.custom-checkbox input {
	position: relative;
	cursor: pointer;
	z-index: 1;
	opacity: 0;
}

.checkmark {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #ccc;
	border-radius: 4px;
	position: absolute;
	left: 0;
}

.custom-checkbox:hover .checkmark {
	background-color: #bbb;
}

.custom-checkbox input:checked + .checkmark {
	background-color: #2196f3;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.custom-checkbox input:checked + .checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 5px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
