*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Ubuntu', sans-serif;
}
/* Utilities */
button {
	border: 1px solid transparent;
	background: transparent;
	cursor: pointer;
}
li {
	list-style: none;
}
.btns {
	width: 100%;
	display: flex;
	align-items: center;
	margin-block-start: 15rem;
	margin-block-end: 1rem;
}
.btn {
	width: 12rem;
	height: 4rem;
	border-radius: 10px;
	margin-inline-start: auto;
	letter-spacing: 0.1em;
}
.next--btn {
	background-color: hsl(213, 96%, 18%);
	color: hsl(231, 100%, 99%);
}
.confirm--btn {
	background-color: hsl(243, 100%, 62%);
	color: hsl(231, 100%, 99%);
}
/* Utilities ENDED */
main {
	background-color: hsl(217, 100%, 97%);
	height: 100vh;
}
.container {
	width: 90rem;
	margin: 0 auto;
	background-color: hsl(231, 100%, 99%);
	display: flex;
	gap: 10rem;
	padding: 2rem;
}

/* Side bar */
.step {
	background: url('../assets/images/bg-sidebar-desktop.svg') no-repeat;
	background-size: cover;
	width: 25rem;
	padding: 3rem;
	padding-block-end: 30rem;
}
.step__list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.step__item {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.step__btn {
	border: 1px solid hsl(0, 0%, 100%);
	font-size: 1.6rem;
	font-weight: bolder;
	color: hsl(0, 0%, 100%);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
.step__item span {
	font-size: 1.4rem;
	font-weight: bold;
	color: hsl(229, 24%, 87%);
}
.step__item p {
	font-size: 1.6rem;
	color: hsl(231, 100%, 99%);
	font-weight: bold;
}
/* Header */
.header {
	margin-block-end: 3.5rem;
}
.header h1 {
	font-size: 3rem;
	color: hsl(213, 96%, 18%);
}
.header p {
	font-size: 1.5rem;
	color: hsl(231, 11%, 63%);
	margin-block-start: 1rem;
}
.step--content {
	margin-block-start: 5rem;
	width: 50rem;
}

/* Personal Info */
.form {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.form-container {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}
.form--label {
	font-size: 1.5rem;
	color: hsl(213, 96%, 18%);
}
.form--input {
	outline: 1px solid transparent;
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 10px;
	background-color: hsl(231, 100%, 99%);
	padding: 1rem;
	font-size: 1.5rem;
	color: hsl(231, 11%, 63%);
}
::placeholder {
	color: hsl(231, 11%, 63%);
}

/* Plan */
.plans {
	display: flex;
	justify-content: space-between;
	margin-block-end: 3rem;
}
.plan-card {
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 10px;
	width: 15rem;
	padding: 2rem 1rem;
	cursor: pointer;
}
.plan-img {
	width: 5rem;
	margin-block-end: 5rem;
}
.plan-img img {
	width: 100%;
}
.plan-card p {
	color: hsl(213, 96%, 18%);
	font-size: 1.6rem;
	font-weight: bold;
}
.plan-card span {
	display: inline-block;
	margin-block-start: 0.5rem;
	font-size: 1.3rem;
	color: hsl(231, 11%, 63%);
}
.period {
	width: 100%;
	background-color: hsl(229, 24%, 87%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	font-size: 1.6rem;
	font-weight: bolder;
	padding-block: 1rem;
	border-radius: 10px;
}

/* Add Ons */
.add-ons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.add-on__card {
	border: 1px solid hsl(229, 24%, 87%);
	display: flex;
	gap: 3rem;
	align-items: center;
	padding: 2rem;
	border-radius: 10px;
	cursor: pointer;
}
.add-on__detail p {
	font-size: 1.6rem;
	font-weight: bold;
	margin-block-end: 0.5rem;
}

.add-on__detail span {
	display: inline-block;
	font-size: 1.3rem;
	color: hsl(231, 11%, 63%);
}
.add-on__price {
	margin-inline-start: auto;
	font-size: 1.2rem;
	color: hsl(243, 100%, 62%);
}

/* Summary */
.summary__plan,
.summary__add-ons div,
.total {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.summary p,
.summary a {
	font-size: 1.5rem;
	color: hsl(231, 11%, 63%);
}

.summary__container {
	background-color: hsl(217, 100%, 97%);
	padding: 2rem 2rem;
	border-radius: 10px;
}
.summary__plan {
	border-bottom: 1px solid hsl(229, 24%, 87%);
	padding-block-end: 2rem;
	font-size: 1.5rem;
}
.summary__plan h2 {
	margin-block-end: 0.5rem;
}
.summary__plan a {
	font-size: 1.3rem;
}
.summary__plan span {
	font-weight: bold;
}

.summary__add-ons div {
	margin-block-start: 1.5rem;
}

.summary__add-ons span {
	font-size: 1.3rem;
}
.total {
	padding: 2rem 2rem;
}
.total span {
	font-size: 1.6rem;
	font-weight: bold;
	color: hsl(243, 100%, 62%);
}

/* Thank You */
.thank-you {
	width: 50rem;
	text-align: center;
	margin-block: 15rem;
}
.thank-you h1 {
	font-size: 3rem;
	margin-block: 2rem;
	color: hsl(213, 96%, 18%);
}

.thank-you p {
	font-size: 1.8rem;
	line-height: 1.5em;
	color: hsl(231, 11%, 63%);
}
